* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Sacramento;
    font-weight: 400;
    color: black;
}

/* headings and logo */

h1, h2 {
    font-family: otwald, Sacramento;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 60px;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}
menu a{
    text-decoration: none;
    color: inherit;
}

#menu a:hover{
    border-bottom: 1px solid black;
}

.active {
border-bottom: 1px solid black;
}

/* hero image */

#hero-outher{
    height: 600px;
    width: 100%;
    overflow:hidden; 
}

#hero-image {
    height: 600px;
    width: 100%;
    background:url() no-repeat center center;

    /* animates zoom effect on loading page */
    animation-name:hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* create the level of zoom for hero image  */
@keyframes hero-zoom {
   from{
    trasform:scale(1.1);
   }
   to{
    trasform:scale(1.1);
   }
}